<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18742497143-v1o5iqbto6vtm8dhkdk3r3te0abjom02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18742497143-v1o5iqbto6vtm8dhkdk3r3te0abjom02</string>
	<key>API_KEY</key>
	<string>AIzaSyAnaUro8f96rW9sOUyDCplWHzWaYdej-gw</string>
	<key>GCM_SENDER_ID</key>
	<string>18742497143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PandemCorp.iPANDEM</string>
	<key>PROJECT_ID</key>
	<string>pandemcorp</string>
	<key>STORAGE_BUCKET</key>
	<string>pandemcorp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18742497143:ios:4c526ff3aff82a1584db72</string>
</dict>
</plist>